#palmbeachlogo{
     width: 8rem;
}

#color{
    background-color: rgb(230, 224, 224)
}

.video{
    width: 25rem;
}

.input1{
    margin-right:5rem;
}

#input2{
    margin-right:6.67rem;
}

#input3{
    margin-right:7.1rem;
}
